{% load static %}
{% include 'components/header.html' %}
        <div class="projectcontainer">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/lms.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LMS Website</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm">Check Now</a>
            </div>
          </div>


          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/todo.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TO DO</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm">Check Now</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/ecom.avif' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">E-com Website</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm">Check Now</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/portfolio.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Portfolio</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-sm">Check Now</a>
            </div>
          </div>

           

        </div>
        {% include 'components/footer.html' %} 
